/* Сброс стилей для всех элементов */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Общие стили для body */
body {
    font-family: Arial, sans-serif; /* Шрифт */
    background-color: #f4f4f4; /* Цвет фона */
    color: #ff0000; /* Цвет текста */
    display: flex; /* Используем flexbox для центрирования */
    justify-content: center; /* Горизонтальное центрирование */
    align-items: center; /* Вертикальное центрирование */
    height: 100vh; /* Высота на весь экран */
    text-align: center; /* Выравнивание текста по центру */
}
p {
    color: rgb(0, 0, 0);
    font-size: 1.2em; /* Размер шрифта параграфа */
    line-height: 1.5; /* Высота строки */
    margin-bottom: 20px; /* Отступ снизу */
}
/* Стили для контейнера */
.container {
    background-color: white; /* Цвет фона контейнера */
    padding: 20px; /* Отступы внутри контейнера */
    border-radius: 8px; /* Закругление углов */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Тень */
    max-width: 600px; /* Максимальная ширина контейнера */
}

/* Стили для заголовков */
h1 {
    font-size: 2.5em; /* Размер шрифта заголовка */
    margin-bottom: 10px; /* Отступ снизу */
}

h2 {
    font-size: 2em; /* Размер шрифта подзаголовка */
    margin-bottom: 20px; /* Отступ снизу */
}

/* Стили для параграфов */
p {
    font-size: 1.2em; /* Размер шрифта параграфа */
    line-height: 1.5; /* Высота строки */
    margin-bottom: 20px; /* Отступ снизу */
}

/* Стили для кнопок */
button {
    background-color: #007BFF; /* Цвет фона кнопки */
    color: white; /* Цвет текста кнопки */
    border: none; /* Убираем границу */
    border-radius: 5px; /* Закругление углов кнопки */
    padding: 10px 20px; /* Отступы внутри кнопки */
    font-size: 1em; /* Размер шрифта кнопки */
    cursor: pointer; /* Курсор в виде указателя */
    transition: background-color 0.3s; /* Плавный переход для фона */
}

button:hover {
    background-color: #0056b3; /* Цвет фона при наведении */
}
nav {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 20px 0;
}

nav a {
    text-decoration: none;
    color: #007BFF;
    padding: 10px 15px;
    margin: 5px 0;
    border: 1px solid #007BFF;
    border-radius: 5px;
    display: inline-block; /* Делает элемент ссылки блочным элементом, чтобы отступы и размеры применялись правильно */
    text-align: center;
    transition: background-color 0.3s, color 0.3s; /* Добавляет плавный переход для изменения фона и цвета текста в течение 0.3 секунд */
}

nav a:hover {
    background-color: #007BFF;
    color: #fff;
}
